# See https://github.com/JetBrains/intellij-community/blob/master/platform/build-scripts/groovy/org/jetbrains/intellij/build/MacHostProperties.groovy
host=machost.local
fingerprint=00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00
login=user
password=12345
identity=Developer ID Application: Company (A1B2C3D4E5)
